[Desktop Entry]
Name=Macaron
Comment=Next generation markdown editor
Exec=macaron %F
Terminal=false
Type=Application
Icon=macaron
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;
Keywords=macaron;
StartupWMClass=macaron
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=macaron --new-window %F
Icon=macaron
